<section>


  <div class="container " style="margin-top: 100px;">
    <div class="row d-flex justify-content-end">
      <a href="/admin/add-products" class="btn btn-success w-auto ml-auto ">Add Products</a>
      <a href="/admin/add" class="btn btn-primary w-auto ml-auto ">Add</a>
    </div>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">No:</th>
          <th scope="col">Name</th>
          <th scope="col">Catogory</th>
          <th scope="col">Stock</th>
          <th scope="col">Price</th>
          <th scope="col">image</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <th scope="row">--></th>
          <td>{{this.Name}}</td>
          <td>{{this.Category}}</td>
          <td>{{this.Stock}}</td>
          <td>{{this.Price}}</td>
          <td><img style="width: ;25px;height: 25px;" src="/images/product-images/{{this._id}}.jpeg" alt="v"></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>