<section>
    
    <div class="container mt-3 mx-auto d-flex align-items-center justify-content-center navtab">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="container ">
        <div class="row d-flex justify-content-end">
            <a href="/admin/add-product" class="btn btn-success mt-4 w-auto ml-auto ">Add Products</a>
        </div>
    <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Catogory</th>
      <th scope="col">Stock</th>
      <th scope="col">Price</th>
      <th scope="col">image</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.category}}</td>
      <td>{{this.Stock}}</td>
      <td>{{this.price}}</td>
      <td><img style="width: ;25px;height: 25px;" src="{{this.image}}" alt=""></td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>